.nav {
    width: 250px;
    font-weight:bold;
    background: #fafafa;
    color: #262626;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    border-right: 0.5px solid rgba(0, 0, 0, .0975);
}

.nav a {
    display: block;
    text-decoration: none;
    color: #262626;
}

.nav a:hover{
    color: rgba(0, 0, 0, .0975);
    transition: .2s;
    text-decoration: none;
}
